.btn-promocoes
{
    background-color: #1fbe8b !important;
    padding: 15px 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
}

.btn-promocoes:hover
{
    background-color: #f87183;
    color: #fff;
}

.btn-pegar-promocao
{
    background-color: #28a745;
    color: #fff;
    width: 100% !important;
    padding: 10px;
}

.btn-pegar-promocao:hover
{
    background-color: #249c40;
    color: #fff;
}

.preco-antigo
{
    display: inline;
    font-size: 14px;
    color: #8a8181;
}

.preco-atual
{
    font-size: 18px;
    color: #1fbe8b;
    margin-top: -10px;
}

.header-action-layout1 ul .header-btn .item-btn
{
    background-color: #1fbe8b !important;
    color: #fff !important;
}

.verde
{
    color: #1fbe8b !important;
}

.header-mobile
{
    display: none;
}

.centraliza-itens
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.sidebar-menu-mobile {
    position: fixed;
    top: 0px;
    left: -3000px;
    width: 250px;
    height: 100vh;
    z-index: 9999999;
    margin: 0px;
    padding: 0px;
    background: #1fbe8b;
    transition: all 0.5s;
}

.fundo-menu {
    position: fixed;
    z-index: 998;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.sidebar-menu-mobile a
{
    color: #fff !important;
    font-weight: bold;
}

.scrollup
{
    color: #0e41d6 !important;
    border: #0e41d6 !important;
    background-color: #1579d6 !important;
}

.category-box-layout1 a:hover
{
    background-color: #0e41d6;
}

.category-box-layout1 a .item-icon
{
    color: #1579d6 !important;
}

.myaccount-login-form .form-box .form-group .submit-btn
{
    background-color: #1fbe8b !important;
    color: #fff !important;
    width: 100%;
}

.single-product-box-layout1 .product-info .product-content .item-details .nav-tabs .nav-item .nav-link.active
{
    background-color: #1fbe8b;
    color: #ffffff;
}

.btn-pegar-promocao
{
    background-color: #1fbe8b;
    color: #ffffff;
}

.tamanho-categoria
{
    min-height: 140px;
}