@media only screen and (max-width: 425px) {
    .produto-informacoes
    {
        font-size: 12px !important;
    }
    .nome-produto
    {
        font-size: 14px !important;
    }

    .produto-categoria
    {
        font-size: 12px !important;
    }

    .descricao-promocao
    {
        display: none;
    }

    .img-promocao
    {
        height: 170px;
        background-size: contain;
    }

    .logo-mobile-svg
    {
        width: 200px !important;
        height: 70px !important;
    }

    .preco-antigo
    {
        font-size: 12px;
        width: 175px;
    }

    .preco-atual
    {
        font-size: 14px;
        width: 175px;
    }

    .data-validade-promocao
    {
        font-size: 12px;
        margin-bottom: -5px !important;
    }
    .btn-eu-quero
    {

    }
}

@media only screen and (max-width: 767px)
{
    .product-box-layout2 {
        display: block !important;
    }
    .promocao-img
    {
        width: 100%;
        height: 170px;
    }
}

@media only screen and (max-width: 991px) {
    .header-mobile
    {
        display: block;
    }

    .padding-mobile
    {
        padding: 20px !important;
    }
}